on:
  push:
    branches:
      - "release/*"
      - "main"
name: release-please
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        with:
          token: ${{ secrets.PAT }}
          target-branch: ${{ steps.extract_branch.outputs.branch }}
          config-file: .github/workflows/release-please-config.json
          manifest-file: .github/workflows/.release-please-manifest.json
